<%- include("partials/alerts") %>
<ul id="messages"></ul>
<form action="forgotPassword" method="post">
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <button type="submit">GET LINK</button>
  </div>

</form>