<%- include("partials/alerts") %>
<ul id="messages"></ul>
<form action="/reset/<%= token %>" method="post">
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">

    <label for="password"><b>Enter new password</b></label>
    <input type="text" placeholder="Enter new password" name="password" required>

    <button type="submit">CHANGE PASSWORD</button>
  </div>

</form>